.section-2 {
    width: 100vw;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #c9adc6 0%,
        #c9adc6 55%,
        #ceb3cb 55%,
        #ceb3cb 100%
    );
}

.section-2-inner {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 91%;
}

.section-2-container {
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.section-2-buttons {
    flex: 1;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}

.section-2-button-prev, 
.section-2-button-next {
    background: #b08ead;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
    cursor: pointer;
}

.section-2-button-prev:hover, 
.section-2-button-next:hover {
    background-color:#b08ead80;
}

.section-2-button-prev {
   background-image: url('/images/chevron_left.png');
}

.section-2-button-next {
    background-image: url('/images/chevron_right.png');
}

.section-2-left-img {
    height: 100%;
    width: 72%;
    background: blue;
    background-image: url('/images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2-right-img-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.section-2-right-img {
    background: #b08ead;
    width: 37%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-2-right-img-content {
    flex: 1;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.section-2-right-img-subtitle, .section-2-right-img-button {
    font-family: Roboto, sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 2px;
 }

 .section-2-right-img-title {
     font-size: 3em;
 }

 .section-2-right-img-button {
     height: 35px;
     border-bottom: 2px solid white;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     padding-bottom: 10px;
     cursor: pointer;
 }